JIRA_BASE_URL=https://alfakher.atlassian.net
JIRA_USERNAME=kaushik.sengupta@air.global
JIRA_TOKEN="ATATT3xFfGF0ZjUsCPpmDPJY61G_LlkAi3QlZ8ny_7j_FNyBLF5CpRJqBQB9OpO4yRA_GGACy6eq2a0S46Je5LBDhk8w6JVDz9IKZ-oUAYI5fnq_SWjWNrDsbdkNCRUg-feeuAOK6GwF4hXvg2wZryUZGLJ5E_9kWmCVce9wvMyZOhECjcOuMqI=B01BA70F"
